#nav-bar {
  top: 0;
  position: fixed;
  background: #00a087;
  color: #e8fdff;
  height: 80px;
  width: 100%;
  padding:0 2em;
   z-index: 1;
}

#nav-bar .logo {
  width: 80px;
  height: 80px;
  float: left;
}

#nav-bar .header{
  float: left;
  padding: 10px;
  font-weight:bold;
  font-size: 2em;
  line-height: 1.7;
}

#nav-bar button {
  margin:16px;
  height: 50px;
  width: 120px;
  float: right;
  font-size: 20px;
  font-weight:bold;
  border-radius:9px;
  background-color:white;
}

#nav-bar button:hover {
  height: 55px;
  width: 125px;
  opacity:0.9;
  background-color:#eee;
}

