section{
    padding: 15px;
}
article {
    opacity:0.5;
}

article.tweet{
    font-size:160%;
    font-weight: 700;
    background-color:snow;
    border:#dfdfdf solid 1px;
    border-radius: 15px;
    margin:0 auto;
}

article.tweet header{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-bottom:1px solid grey;
    background-color:grey;

}

article.tweet header .handle {
    padding: 5px;
    float:right;
    font-size:70%;
    font-weight:400;
}

article.tweet header .name {
    float: left;
}




img.avatar{
    padding:3px;
    border-radius: 15px;
    width: 60px;
    height:60px;
    float: left;
}


article.tweet header:before,
article.tweet header:after {
    content:" ";
    display:table;
}

.tweet header:after {
    clear:both;
}


.tweet:before,
.tweet:after {
    content:"";
    display:table;
}

.tweet:after {
    clear:both;
}

.tweet p {
    padding:20px;
    margin:auto;
    font-weight:500;
}

.tweet footer {
    font-size:70%;
    font-weight:400;
    padding:10px;
    border-top:1px solid lightgray;
}

article.tweet i {
    float: right;
    padding: 2px;
    visibility: hidden;
}

article.tweet:hover i{
    visibility: visible;
}

article:hover {
    background-color:#eee;
    transition: 0.3s;    
    opacity:1.0;
}